.sidebar {
    background-color:white;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    width: auto;
    margin-right: 20px;
    padding-right: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}
.ai-heading{
    margin-left: 15px;
    margin-top: 0px;
}

.sidebar li {
    margin-bottom: 10px;
    margin-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
}

.sidebar-imgs {
    height: 35px;
    width: 35px;
    border-radius: 50px;
    margin-right: 20px;
   
    /* Use 50% for a perfect circle */
}

span{
    margin-bottom: 20px;
}
/* You can remove the unused styles */
.flex-row{
    display: flex;
}
.route-name{
    margin-top: 8px;
    color: black;
}
.hower:hover{
    background-color: rgb(211, 208, 214);
        border-radius: 10px;
        padding: 5px;
        width: 100%;
        margin-left: 5px;
}
.li:hover{
    background-color: rgb(211, 208, 214);
        border-radius: 10px;
        padding: 5px;
        width: 100%;
        margin-left: 0px;
}
.puls-icon{
    height: 20px;
   background-color: white;
   width: 100%;
   border: none;
   margin-top: 3px;
   font-size: 20px;
}
.plus-btn{
    background-color:transparent;
    border: none;
    display: flex;
}
.create{
    font-size: 20px;
    margin-top: 2px;
    margin-left: 20px;
}
.plus-btn:hover{
background-color: lightgray;
border-radius: 25px;
cursor: pointer;
}
.margin-left{
    margin-left: 20px;
}
hr{
    margin-left: 8px;
    width: 100%;
}
.try-btn{
    width: 100%;
    font-weight: bold;
    border-radius: 19px;
    padding: 8px;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    border: 1px solid rgb(173, 169, 177);
    text-align: center;
}
sup{
    color:red;
}
.discover{
    width: 100%;
    height: 30;
}
.active{
    background-color:rgb(211, 208, 214);
    border-radius: 10px;
    padding:5px;
    width: 100%;
    margin-left:0px;
}
@media  all and (min-width:690px )  {
 .sidebar{
    
    height: 100%;
    padding-bottom: 20px;
    position: fixed;
    
 }   
}
@media all and (max-width:490px) {
    .sidebar {
            background-color: white;
            justify-content: space-between;
            display: flex;
            flex-direction: column;
            width: auto;
        }
}